/* variables */
@mainTheme: white;

/* Mixins */
.border {
  border: 1px solid black;
}

/* animations */
// @keyframes animatedBackground {
// 	0% { background-position: 0 0; }
// 	100% { background-position: -300px 0; }
// }
// @-moz-keyframes animatedBackground {
// 	0% { background-position: 0 0; }
// 	100% { background-position: -300px 0; }
// }
// @-webkit-keyframes animatedBackground {
// 	0% { background-position: 0 0; }
// 	100% { background-position: -300px 0; }
// }
// @-ms-keyframes animatedBackground {
// 	0% { background-position: 0 0; }
// 	100% { background-position: -300px 0; }
// }
// @-o-keyframes animatedBackground {
// 	0% { background-position: 0 0; }
// 	100% { background-position: -300px 0; }
// }

/* Styling */
body {
  color: @mainTheme;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; 
}

#gameWindow{
  width:1280px;
  height:720px;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  overflow:hidden;
}

#introScreen{
  width:1280px;
  height:720px;
  //z-index: 10;
}

#btnStart{
position:relative;
left: 900px;
top: 400px;
width:250px;
}

h1{
  color:white;
  cursor:pointer;
}

#town, #player{
  position:absolute;
}

#status {
  width: 1280px;
  height: 50px;
  margin: 0 auto;
  border: .border;
  background-color: black;
}

//Using javascript instead
// .mapMoveDown {
//   animation: animatedBackground 2s linear 1;
// 	-moz-animation: animatedBackground 2s linear 1;
// 	-webkit-animation: animatedBackground 2s linear 1;
// 	-ms-animation: animatedBackground 2s linear 1;
// 	-o-animation: animatedBackground 2s linear 1;
// }
