/* variables */
/* Mixins */
.border {
  border: 1px solid white;
}
/* animations */
/* Styling */
body {
  color: #ffffff;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  background-color: black;
}
#gameWindow {
  width: 1280px;
  height: 720px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
#introScreen {
  width: 1280px;
  height: 720px;
  margin: 0 auto;
  border: 1px solid white;
  background-image: url(../images/williamsonIntro.jpg);
}
#btnStart {
  position: relative;
  left: 900px;
  top: 400px;
  width: 250px;
}
h1 {
  color: white;
  cursor: pointer;
}
#town,
#player,
#enemy1,
#enemyHealth,
#girl,
#playerHealth {
  position: absolute;
}
#enemy1 {
  border: 1px solid white;
}
#girl {
  border: 1px solid white;
}
#playerHealth {
  color: red;
  font-size: 26px;
  border-radius: 10px;
}
#enemyHealth {
  color: red;
  font-size: 26px;
  border-radius: 10px;
}
#dialogue {
  position: absolute;
  width: 400px;
  height: 200px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(102, 34, 0, 0.8);
  top: 50px;
  left: 820px;
  font-size: 25px;
  padding: 20px 10px 0px 20px;
}
.click {
  cursor: pointer;
}
.faceLeft {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#map {
  position: absolute;
  top: 60px;
  left: 220px;
  width: 800px;
  height: 600px;
  background-color: blue;
  color: black;
  display: none;
}
#status {
  width: 1280px;
  height: 150px;
  margin: 0 auto;
  border: .border;
  background-image: url(../images/status.jpg);
  position: relative;
}
.output {
  width: 300px;
  height: 50px;
  position: absolute;
  top: 50px;
  left: 750px;
  border: 1px solid white;
}
/* Health */
#healthBox {
  background-image: url(../images/healthMeter.png);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 254px;
  height: 88px;
  overflow: hidden;
  z-index: 50;
}
#healthMeter {
  position: absolute;
  top: 48px;
  left: 63px;
}
/* Magic start */
#magicBox {
  background-image: url(../images/magicMeter.png);
  position: absolute;
  top: 50px;
  left: 300px;
  width: 256px;
  height: 57px;
  overflow: hidden;
  z-index: 49;
}
#magicMeter {
  position: absolute;
  left: 63px;
  top: 18px;
}
#magicBox p {
  margin: 0;
  padding: 0;
}
/* Sword start */
#primaryWeapon {
  position: absolute;
  top: 50px;
  left: 1000px;
}
#secondaryWeapon {
  position: absolute;
  top: 50px;
  left: 1100px;
}
#objective {
  position: absolute;
  top: 50px;
  left: 600px;
}
