/* variables */
/* Mixins */
.border {
  border: 1px solid black;
}
/* animations */
/* Styling */
body {
  color: #0000ff;
}
#gameWindow {
  width: 1280px;
  height: 720px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
#introScreen {
  width: 1280px;
  height: 720px;
}
#btnStart {
  position: relative;
  left: 900px;
  top: 400px;
  width: 250px;
}
h1 {
  color: white;
  cursor: pointer;
}
#town,
#player {
  position: absolute;
}
#status {
  width: 1280px;
  height: 50px;
  margin: 0 auto;
  border: .border;
  background-color: black;
}
