@mainTheme: blue;

.buttons {
  border: 2px solid black;
  border-radius: 5px;
  width: 80px;
  &:hover {
    background-color: blue;
    color:white;
    &:before {
      content: "see ya!";
    }
    .first {
      display:none;
    }
  }

}

body {
  color: @mainTheme;
}

#demo {
  .buttons;

}

#gameWindow{
  width:1280px;
  height:720px;
  position:relative;
  margin-right:auto;
  margin-left:auto;
  overflow:hidden;
}

#introScreen{
  width:1280px;
  height:720px;
}

#btnStart{
position:relative;
left: 900px;
top: 400px;
width:250px;
}

h1{
  color:white;
  cursor:pointer;
}

#town, #player{
  position:absolute;
}


