.buttons {
  border: 2px solid black;
  border-radius: 5px;
  width: 80px;
}
.buttons:hover {
  background-color: blue;
  color: white;
}
.buttons:hover:before {
  content: "see ya!";
}
.buttons:hover .first {
  display: none;
}
body {
  color: #0000ff;
}
#demo {
  border: 2px solid black;
  border-radius: 5px;
  width: 80px;
}
#demo:hover {
  background-color: blue;
  color: white;
}
#demo:hover:before {
  content: "see ya!";
}
#demo:hover .first {
  display: none;
}
#gameWindow {
  width: 1280px;
  height: 720px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}
#introScreen {
  width: 1280px;
  height: 720px;
}
#btnStart {
  position: relative;
  left: 900px;
  top: 400px;
  width: 250px;
}
h1 {
  color: white;
  cursor: pointer;
}
#town,
#player {
  position: absolute;
}
